@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Vazirmatn', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html.dark {
  color-scheme: dark;
}
